
/* tudo */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: aliceblue;
}

header{
    text-align: center;
}


main{
    display: flex;
    justify-content: center;
}



/* cabeçalho da lista */
#headerList{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(71, 71, 71);
    width: 400px;
    height: 60px;
    padding: 10px;
    border-radius: 20px;
}

#headerList #addList{
    border-style: none;
    outline: 0;
    padding: 3px;
    height: 20px;
}

#headerList #botaoCriar {
    width: 40px;
    height: 25px;
    border: 0;
    margin-left: 15px;
}

#toDo{
    background-color: rgb(26, 26, 26);
    margin-top: 50px;
    padding: 10px;
    border: solid 1px white;
    border-radius: 20px;
    animation: rgb infinite 7s;
}

@keyframes rgb {
    0%{box-shadow: 0px 0px 20px rgb(255, 0, 0);}
    
    10%{box-shadow: 0px 0px 20px rgb(255, 145, 0);}

    20%{box-shadow: 0px 0px 20px rgb(229, 255, 0);}

    30%{box-shadow: 0px 0px 20px rgb(0, 255, 0);}

    40%{box-shadow: 0px 0px 20px rgb(0, 183, 255);}

    50%{box-shadow: 0px 0px 20px rgb(0, 0, 255);}

    60%{box-shadow: 0px 0px 20px rgb(0, 183, 255);}

    70%{box-shadow: 0px 0px 20px rgb(0, 255, 0);}

    80%{box-shadow: 0px 0px 20px rgb(229, 255, 0);}

    90%{box-shadow: 0px 0px 20px rgb(255, 145, 0);}
    
    100%{box-shadow: 0px 0px 20px rgb(255, 0, 0);}
}

/* elementos da lista */
.lista{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    background-color: aliceblue;
    color: black;
    margin-top: 10px;
    width: 80%;
    height: 50px;
    border-radius: 15px;
}

.lista p {
    margin-right: 30px;
}

.lista button {
    width: 80px;
    height: 30px;
    margin-right: 10px;
    background-color:rgb(122, 122, 122);
    border: none;
    box-shadow: 0 0 3px;
}

.lista button:hover{
    background-color: rgb(151, 151, 151);
    cursor: pointer;
}

/* lista itens feitos */
.listafeito{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    background-color: rgb(107, 186, 255);
    color: black;
    margin-top: 10px;
    width: 80%;
    height: 50px;
    border-radius: 15px;
}

.listafeito p {
    margin-right: 30px;
    font-style: italic;
    text-decoration: line-through;
}

.listafeito button {
    font-style: italic;
    width: 80px;
    height: 30px;
    margin-right: 10px;
    background-color:rgb(122, 122, 122);
}

.listafeito button:hover{
    background-color: rgb(151, 151, 151);
    cursor: pointer;
}


